html {
    scroll-behavior: smooth;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.header__container {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}


.header__logo {
    margin-top: auto;
}

.header__logo-title {
    font-family: 'GeorgiaR';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    white-space: nowrap;
}

.header__logo-subtitle {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #fff;
    font-family: 'GeorgiaR';
    margin-top: 10px;
    white-space: nowrap;
}

.header__list {
    display: flex;
    column-gap: 35px;
    padding: 46px 0px 20px 0px;
}




.header__link {
    font-family: 'GeorgiaR';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;  
    position: relative; 
    transition: 0.4s ease-in-out;
}

.header__link::after {
    content: '';  
    display: block; 
    margin-top: 10px;  
    background: #f1cdb3; 
    height: 3px;  
    width: 100%;  
    position: absolute; 
    left: 0;  
    bottom: -10px;  
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.header__list-item .header__link-active {
    color: #fafafa;
}
.header__list-item .header__link-active-dark {
    color: #292929;
}
.header__link-active::after,
.header__link-active-dark::after,
.header__link:hover::after {
    opacity: 1;
}
  
.burger {
    display: none;


}

@media screen and (max-width: 700px) {

    .header__navigation {
        display: none;
    }

    .burger {
        display: block;

    }
}


.burger__btn {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-top: 19px;
}

.burger__line {
    border: 1px solid #f1cdb3;
    width: 30px;

}

.burger__content {
    overflow: hidden;
    width: 320px;
    background-color: #292929;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
    transform: translateX(200%);
}



.burger__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.burger__item {
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
}

.burger__link {
    text-decoration: none;
    color: #cdcdcd;
}
.burger__line-black {
border: 1px solid #000;
}
/*=========================================*/
.need {
    width: 100%;
    height: auto;
    background-image: url(./assets/Start\ screen.jpg);
    background-size: cover;
}

.need__container {
    display: flex;
    justify-content: space-between;
}

.need__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 908px;
    z-index: -1;
}

.need__content {
    padding: 343px 0px 243px 0px;

}

.need__image {
    margin-top: auto;
    max-width: 698px;
    object-fit: contain;

    width: 59.5%;
}

@media screen and (max-width: 768px) {
    .need__content {
        padding: 150px 0px 0px 0px;
        margin: 0 auto;

    }


    .need__image {
        width: 80%;
        margin-left: auto;
    }




}

.need__btn {}



.need__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #fff;

    max-width: 310px;
    margin-bottom: 42px;
}

.need__about {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;

    max-width: 460px;
    margin-bottom: 42px;
}




@media screen and (max-width: 375px) {
    [class*="__container"] {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }




    .need__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        max-width: 80%;
        margin: 0 auto;

    }

    .need__about {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-align: center;
        color: #cdcdcd;
        max-width: 100%;
        margin-top: 42px;
    }

    .need__image {
        width: 87%;
    }

    .burger__btn {
        margin-right: 10px;
        margin-top: 30px;
    }

    .header__logo {
        margin-left: 10px;
    }
}



.shelter {
    padding: 80px 0px 100px 0px;
}

.shelter__container {
    display: flex;
    justify-content: center;
    column-gap: 125px;

}

.shelter__pets {
    object-fit: contain;

    width: 25%;
}

@media screen and (max-width: 768px) {
    .shelter__container {
        flex-direction: column-reverse;
        align-items: center;
        column-gap: 0px;
    }

    .shelter__pets {
        margin-top: 80px;
        width: 43%;
    }
}

.shelter__content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

}

.shelter__title {
    padding-top: 14px;
}

.shelter__about {
    max-width: 430px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
}

@media screen and (max-width: 375px) {

    .shelter {
        padding: 28px 0px 42px 0px;
    }


    .shelter__pets {
        width: 86%;
        margin-top: 42px;
    }

    .shelter__content {
        row-gap: 0px;
    }

    .shelter__title {
        margin-bottom: 25px;


    }

    .shelter__about:not(:last-child) {
        margin-bottom: 22px;
    }

    .shelter__about {
        padding: 0 15px;
        text-align: justify;
    }
}







.friends {
    padding: 80px 0px 100px 0;
    background: #f6f6f6;

}

.friends__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    justify-content: center;

    align-items: space-between;
    

}

.friends__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;


    
}
.friends__link {
    color: #292929;
     
}

@media screen and (max-width: 375px) {
    .friends__title {
        margin-bottom: 42px;
    }
}

.friends__slider {
    display: flex;
    align-items: center;
    column-gap: 52px;
    justify-content: space-between;
 
    

}

.friends__slider-inner {
    display: flex;
    column-gap: 90px;
    justify-content: center;

}

@media screen and (max-width: 950px) {
    .friends__slider {
        column-gap: 12px;
    }

    .friends__slider-inner {
        column-gap: 40px;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .friends__slider-inner {
        display: flex;
        flex-direction: column;
    }
}

.friends__btn {
    align-self: center;
}

@media screen and (max-width: 505px) {




    .friends {
        padding: 42px 0px 42px 0;


    }

    .friends__slider {

        flex-wrap: wrap;

    }

    .friends__slider-inner {
        order: 1;
        width: 100%;
        max-width: 100%;
        position: relative;
        bottom: 30px;
    }

    .slider__btn {
        order: 2;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }


    .friends__container {

        row-gap: 42px;


    }
 
}

/*=================================*/

.help {
    padding: 80px 0px 100px 0px;
    background-color: #fff;
}

.help__title {
    text-align: center;
    margin-bottom: 60px;
}

.help__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
    max-width: 1126px;
    margin: 0 auto;


}

@media screen and (max-width: 768px) {
    .help__cards {
        display: grid;
        column-gap: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 505px) {
    .help__cards {
        display: grid;
        column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

.help__card {
    text-align: center;

}

.help__card-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: #545454;

}

.help__card-img {
    text-align: center;
    margin-bottom: 30px;
}




@media screen and (max-width: 375px) {
    .help__card-title {
        font-size: 15px;
        white-space: nowrap;
    }


    .help__card-img {
        text-align: center;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .help__title {
        margin-bottom: 42px;
    }



    .help {
        padding: 42px 0px 42px 0px;

    }


    .help__cards {
        row-gap: 30px;
    }
}



/*===============================================================*/

.donation {


    background-color: #F6F6F6;
    padding: 80px 0px 100px 0px;
    /*  
    */

}

.donation__container {
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

.donation__btn {
    padding: 10px 15px;
    border-radius: 9px;
    background-color: #F1CDB3;
    align-self: flex-start;
    display: flex;
    column-gap: 15px;
    cursor: pointer;

}

.donation__number {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__number a {
    color: #545454;
}
.donation__about {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
    max-width: 380px;
}

.donation__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.donation__image {
    object-fit: contain;
}


@media screen and (max-width: 768px) {
    .donation__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation__image {
        margin-top: 60px;
    }
}






@media screen and (max-width: 400px) {
    .donation__number {
        font-size: 15px;
    }

    .donation__title,
    .donation__subtitle {
        text-align: center;
    }

    .donation__about {
        text-align: justify;
    }

    .donation__subtitle {
        white-space: nowrap;
    }

    .donation {

        padding: 42px 0px 42px 0;
    }

    .donation__btn {
        margin: 0 auto;
    }

    .donation__image {
        margin-top: 42px;
        width: 90%;
    }
}

/*===================================================*/
.footer {
    width: 100%;
    height: auto;
    background-image: url(./assets/Start\ screen.jpg);
    background-size: cover;
}

.footer__container {

    display: flex;
    justify-content: space-between;
    min-height: 350px;
    column-gap: 10px;
}

.footer__item {
    padding: 56px 0px 0px 0px;

    display: flex;
    flex-direction: column;
}

.footer__item-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
    max-width: 288px;
}

.footer__item-point {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.footer__item-icon {}

.footer__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}
.footer__item-text a {
    color: #f1cdb3;
}
.footer__image {
    margin-top: auto;
    object-fit: contain;
}

.point-1,
.point-2 {
    margin-top: 40px;
}

.point-3 {
    margin-top: 34px;
}

.point-4 {
    margin-top: 32px;
}

@media screen and (max-width: 950px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: space-between;
        width: 100%;
        row-gap: 65px;

        padding: 0 64px;
    }
    .footer__item:nth-child(1) {
        grid-column: span 1;

        margin-right: auto;


        padding: 30px 0px 0px 0px;
    }

    .footer__item:nth-child(2) {
        grid-column: span 1;

        margin-left: auto;


        padding: 30px 0px 0px 0px;
    }

    .footer__image {
        justify-self: center;
        grid-column: span 2;
    }
}



@media screen and (max-width: 700px) {
   
     .footer__container {
         display: flex;
         flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;

     }
       
     .footer__item {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
       display: flex;
       flex-direction: column;
       row-gap: 40px;
 
      
     }
.footer__item  {
    padding: 0px 0px 0px 0px ;
}
     .point-1, .point-2, .point-3, .point-4 {
        margin-top: 0;
     }

     .footer__container {
       padding: 0px 10px 0px 10px;
        row-gap: 0;
      /*  padding: 0px 10px; */

     }

     
.footer__item-title {
padding-top: 6px;
font-size: 25px;
 margin-bottom: 40px;
 max-width: 90%;
 width: 100%;
 margin: 0 auto;
 text-align: center;
}


.footer__image {
    margin-top: 40px;
    width: 85%;
    
}
.footer__item-point {
    margin: 0 auto;
}
}


.need__link {
    max-width: 207px;
    white-space: nowrap;
 color: #292929;
}