.title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

@media screen and (max-width: 375px) {

    .title {
       /* margin-bottom: 25px; */


        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
    }
}


.subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
@media screen and (max-width: 375px) {
.subtitle {
    letter-spacing: 0;
}
}
.btn {
    padding: 15px 45px;
    border-radius: 100px;
    background: #f1cdb3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.4s ease-in-out;
}


/*
.round-btn {
    padding: 23px 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f1cdb3;
    transition: 0.4s ease-in-out;
    width: 52px;
    height: 52px;
    object-fit: contain;
}
    */


.round-btn {
    padding: 23px 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f1cdb3;
    transition: 0.4s ease-in-out;
    width: 52px;
    height: 52px;
}


.round-btn img {
    width: 14px;
    height: 6px;
    flex-shrink: 0;
    min-width: 14px
}

.btn:hover,
.round-btn:hover {
    background-color: #fddcc4;
}

.transparent-btn {
    border: 2px solid #f1cdb3;
    background-color: transparent;

}

.pet__card {
    background-color: #FAFAFA;
    transition: 0.4s ease-in-out;
}
.pet__card-image {
    width: 100%;
}

.pet__card:hover {
    background-color: #e7e7e7;
}

@media screen and (max-width: 1250px) {
    .pet__card:nth-child(3) {
        display: none;
    }
}

.pet__card__content {
    padding: 30px 41.5px;
}

@media screen and (max-width: 768px) {
    .pet__card:nth-child(2) {
        display: none;
    }

    .pet__card, .pet__card-item {
        justify-content: center;
        cursor: pointer;
        align-items: center;
        
        text-align: center;
    }

}

.pet__title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin-bottom: 30px;
}

@media screen and (max-width: 375px) {
    .pet__title {
        margin-bottom: 30px;
    }
}

.pet__btn {
    margin: 0 auto;
    white-space: nowrap;
}


 