.btn {
    cursor: pointer;
     transition: 1s ease-in;
}

.btn:hover {
 text-decoration: underline;   
}
.text-title {
    font-weight: var(--bold);
     font-size: 64px;
     color: var(--brown);
}
.text-title-white {
    color: var(--white);
}

@media screen and (max-width: 650px) {
    .text-title {
        font-size: 42px;
    }
}